body {
  font-family: 'Bebas Neue', cursive;
}

.section {
  //   padding: 4rem 4rem 0 4rem;
}

// Button styles
.btn {
  border-radius: 999px;
  width: 200px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.5s ease;

  &--homepage {
    background: white;
    box-shadow: 15px 7px 0px #fb420a;
  }

  &--blink {
    animation: blinkingText 1.2s infinite;
  }

  &--hide {
    display: none !important;
  }

  &--trans-white {
    background: transparent;
    border: 8px solid #ffffff47 !important;
    color: #ffffff8a !important;
    box-shadow: none;

    &:hover {
      border: 8px solid rgba(255, 255, 255, 0.733) !important;
      color: rgba(255, 255, 255, 0.733) !important;
    }
  }
}
