@import '../GlobalVars/index.scss';

.slots {
  //   border: 1px solid orange;

  margin: 2rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow: visible;
  width: 100%;

  &--tablet {
    transform: none;
    position: relative;
    top: unset;
    left: unset;
  }

  &--details {
    margin: 1rem 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &--homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .slots-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slot {
    display: flex;
    justify-content: center;
    align-items: center;

    &--homepage {
      @include mq(0) {
        height: 125px;
        width: 125px;
        margin-bottom: 1.5rem;
      }

      @include mq(tabletS) {
        height: 175px;
        width: 175px;
        margin-bottom: 1.5rem;
      }

      @include mq(desktopM) {
        height: 275px;
        width: 275px;
        margin-bottom: 0;
      }
    }

    // &--details {
    //   height: 120px;
    //   width: 125px;
    // }
  }

  section {
    position: absolute;
    border-radius: 15px !important;
    overflow: hidden;
    // background-color: #ffffffc2;
    border-radius: 2px;
    // border: 1px solid lightgrey;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 150px;
    // line-height: 340px;
    cursor: default;
  }

  .section--homepage {
    @include mq(0) {
      height: 125px;
      width: 105px;
      line-height: 145px;
    }
    @include mq(tabletS) {
      height: 175px;
      width: 175px;
      line-height: 255px;
    }
    @include mq(desktopM) {
      width: 260px;
      height: 260px;
      line-height: 340px;
    }
  }

  //   .section--details {
  //     height: 110px;
  //     width: 110px;
  //     line-height: 90px;
  //   }

  .container {
    position: absolute;
    top: 2px;
    width: 100%;
    transition: top ease-in-out 1.5s;
    text-align: center;

    div {
      span {
        svg {
          path {
            fill: #ed3501;
            // stroke: #ed3501;
          }
        }
      }

      .icon-container {
        &--homepage {
          @include mq(0) {
            svg {
              height: 100px;
              width: 100px;
            }
          }

          @include mq(tabletS) {
            svg {
              height: 150px;
              width: 150px;
            }
          }

          @include mq(desktopM) {
            svg {
              height: 200px;
              width: 200px;
            }
          }
        }

        &--details {
          svg {
            height: 80px;
            width: 80px;
          }
        }
      }
    }
  }

  .roll {
    width: 215px;
    cursor: pointer;
    // background-color: yellow;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 3px solid black;
    margin: 0 auto;
  }

  .rolling {
    animation: blinkingText 1.2s infinite;
  }

  .slots-cta {
    display: flex;
    justify-content: center;
    align-items: center;

    &--tablet {
      margin-left: 2rem;
    }

    .btn {
      @include mq(0) {
        margin-right: 2rem;
      }
      @include mq(tabletS) {
        margin-right: 3rem;
      }
    }
  }

  @keyframes blinkingText {
    0% {
      color: #000;
    }
    49% {
      color: #000;
    }
    60% {
      color: transparent;
    }
    99% {
      color: transparent;
    }
    100% {
      color: #000;
    }
  }
}
