.header {
  height: 100vh;
  //   background: #0c0c0c;
  display: flex;
  position: relative;
  //   background: linear-gradient(90deg, #0e0e0e 15%, rgba(31, 31, 31, 0));
  background: url(../../Images/Episode/Backgrounds/General3.jpg);
  z-index: 0;
  overflow: hidden;
  justify-content: space-between;
  //   filter: blur(2px);

  & > * {
    filter: blur(0);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .title-slots-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;

    &--homepage {
      justify-content: center;
      flex-direction: column;
    }

    &--details {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .details {
    // border: 2px solid blue;
    // flex: 1;
    width: 25%;
    //   width: 45%;
    color: white;
    position: relative;
    padding: 2rem;
    background: #00000036;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    // box-shadow: 30px 20px 0px #ff0000a6;

    &:empty {
      box-shadow: none !important;
    }

    &__episode-number {
      position: absolute;
      top: 15px;
      left: 30px;
      margin: 0;
      font-size: 8rem;
      color: #ffffff6e;
    }

    &__title {
      font-size: 70px;
      padding: 0;
      margin: 0;
      //   max-width: 80%;
      text-align: end;
    }

    &__description {
      font-size: 40px;
      //   margin-top: 6rem;
    }

    &__secondary-details {
      //   border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      .secondary-detail {
        margin: 1rem;
        // border: 1px solid orange;

        &__title {
          font-size: 25px;
          margin: 0 0 -10px 0;
          color: #ffffffa8;
        }

        &__content {
          font-size: 40px;
          margin: 0;
          font-weight: 900;
        }
      }
    }
  }

  &__title {
    margin: 0;
    color: white;
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 100;

    &--highlighted {
      font-size: 70px;
      font-weight: 900;
    }
  }

  &__image {
    &--home {
      //   width: 800px;
      //   position: absolute;
      //   left: -25px;
      //   top: -25px;
      //   opacity: 0.3;
      //   z-index: -1;
    }
    &--details {
      width: 800px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      opacity: 0.3;
      z-index: -1;
    }
  }

  .img-roll-btn-container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    width: 100%;

    // video {
    //   object-fit: cover;
    //   width: 100%;
    //   height: 100%;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    // }
  }

  //   .roll-btn {
  //     background: white;
  //     border-radius: 50%;
  //     height: 300px;
  //     width: 300px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     position: absolute;
  //     top: 100px;
  //     right: 100px;
  //     box-shadow: 15px 7px 0px #fb420a;
  //     font-size: 40px;
  //   }
}
