.header {
  height: 100vh;
  background: #0c0c0c;
  display: flex;

  .title-slots-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 60%;
    border: 2px solid red;
  }

  .description {
    border: 2px solid blue;
    width: 40%;
  }

  &__title {
    margin: 0;
    color: white;
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 100;

    &--highlighted {
      font-size: 70px;
      font-weight: 900;
    }
  }

  .img-roll-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  //   .roll-btn {
  //     background: white;
  //     border-radius: 50%;
  //     height: 300px;
  //     width: 300px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     position: absolute;
  //     top: 100px;
  //     right: 100px;
  //     box-shadow: 15px 7px 0px #fb420a;
  //     font-size: 40px;
  //   }

  &__image {
    width: 800px;
  }
}
